name: Build & Deploy PROBN
on:
  push:
    branches: ["main"]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOKERHUB_USERNAME }}
          password: ${{ secrets.DOKCERHUB_TOKEN }}

      - name: Build & Push
        uses: docker/build-push-action@v4
        with:
          push: true
          tags: almasik04/firstvps:latest
  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Deploy on VPS
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          port: ${{ .VPS_PORT }}
          script: |secrets
            cd /var/www/firstvps
            docker compose pull
            docker compose up -d